# üêº __pandas `Data types`__
1. Serise - 1 Dimentional
2. Data Frame - 2 Dimentional

In [13]:
import pandas as pd

In [14]:
cars = pd.Series(["BMW", "Tesla", "Honda"])
colors = pd.Series(["Red", "Blue", "White"])
print(f'{cars}\n{colors}')

0      BMW
1    Tesla
2    Honda
dtype: object
0      Red
1     Blue
2    White
dtype: object

In [15]:
car_data = pd.DataFrame({"car name": cars, "colors": colors})
car_data

  car name colors
0      BMW    Red
1    Tesla   Blue
2    Honda  White

# üì• __Import `data`__